body {
    height: fill-available;
    height: -webkit-fill-available;
}


#canvasContainer {
    margin-bottom: 20px;
    width: 100%;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}
