#canvasContainer {
  background-color: red;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

canvas {
  border: solid 1px purple;
}
