#canvasContainer {
    width: 100%;
    height: 100vh; /* For normal browsers */
    height: calc(var(--vh, 1vh) * 100); /* For idiotic mobile browsers */
}

#canvasContainer.isSelecting {
    background-color: rgba(0, 0, 0, 0.2);
}